<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, lang=fr">
        <title>{% block Title %}Framework3{% endblock %}</title>
    </head>
    <body>
        {% block Body %}{% endblock %}
        {% block Javascript %}{% endblock %}
    </body>
</html>